.thAcciones{
    width: 60px;
}


.cardGeneral{
    width: 250px;
    margin: 0 auto;
}


.btn-agregar{
    text-align: end;
}

.proyectos{
    text-align: center;
    margin-top: 15px;
}

.imgProyect{
    width: 200px;
}


.imgProyect2{
    width: 200px;
}

.imgProyect3{
    width: 210px;
}