<div class="container">
    <h1>Inicio</h1>
    <br>
    <div class="row proyectos">
        <div class="col-md-6 col-sm-12 justify-content-center d-flex">
            <br>
            <mat-card class="cardGeneral">
                <img mat-card-image class="imgProyect2" src="/assets/img/compañia.png"
                [routerLink]="['/compania']" routerLinkActive="router-link-active"  alt="Photo of a Shiba Inu" >
               
            </mat-card>
        </div>
        <div class="col-md-6 col-sm-12 justify-content-center d-flex">
            <br>
            <mat-card class="cardGeneral">
                <img mat-card-image class="imgProyect2" src="/assets/img/usuario.png"
                [routerLink]="['/usuario']" routerLinkActive="router-link-active"  alt="Photo of a Shiba Inu" >
               
            </mat-card>
        </div>
    </div>

</div>

