body{
    background-image: url("/assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 10%;
}

.mat-form-field{
    display: grid;
}

.rowBotones{
    text-align: center;
}

.container{
    width: 30%;
}


h2{
    text-align: center;
}
